* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
text-decoration: none;
}

ul {
  list-style: none;
  padding: 1rem;
}

html {
	background: url("https://github.com/jessicawright/my-files/blob/master/landing.jpg?raw=true") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 20px/1.618 Garamond, Cambria, sans-serif;
  --primary-color: rgb(124, 204, 49);
  --secondary-gray: rgb(74,75,64);
  --tertiary-white: rgb(246, 248, 213);
  text-align: center;
}

.volForm__container {
  display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: repeat(4, 1fr); 
	grid-template-rows: repeat(4, 1fr); 
	margin: 1rem;
	padding: 1rem;
	max-width: 1300px;	
  height: flex;	
  
}

.contact-info__container {
  grid-column: 1 / span 4;
  background: rgb(74,75,64,.9);
  padding: 1rem;
	
}

.skills__container {
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
  background: rgb(74,75,64,.3);
  padding: 1rem;
	text-align: left;
}

.causes__container {
  grid-column: 3 / span 2;
  grid-row: 2 / span 3;
  background: rgb(74,75,64,.7);
  padding: 1rem;
  text-align: left;
}
