* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
text-decoration: none;
}

ul {
  list-style: none;
  padding: 1rem;
  cursor: pointer;
}

li {
  color: var(--tertiary-white)
}

html {
  font: 20px/1.618 Arial;
  --primary-color: rgb(127, 200, 59);
  --secondary-color: rgb(102, 203, 229);
  --secondary-gray: rgb(96, 117, 67);
  --tertiary-white: rgb(246, 248, 213);
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255, .8);
  height: 100%;
  position: relative;
}

/* button styling */
.js--enter__volunteer, .js--enter__organization, .js--sign-up__volunteer, .js--sign-up__organization, .js--see-organizations, .js-vol-signin, .js-org-signin {
  background-color: var(--secondary-gray);
  color: var(--tertiary-white);
  font-size: 30px;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px 50px 15px rgb(96, 117, 67, .4);
}

/* text box styling */
.add__jobTitle, .add__firstName, .add__lastName, .add__volUserName, .add__volPassword, .add__phoneNum, .add__email, .vol-password, .vol-username, .org-username, .org-password {
  width: 40%;
  border: 2px solid rgb(0, 0, 0, 0.7);
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.add__jobTitle {
  width: 60%;
}

.org-username, .org-password, .vol-username, .vol-password {
  width: 60%;
}

.volForm__container {
  display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: repeat(4, 1fr); 
	grid-template-rows: repeat(3, 1fr); 
	margin: 1rem;
	padding: 1rem;
	max-width: 100%;	
  height: 1000px;	
}

.contact-info__container, .skills__container, .causes__container, .volDashboard__contact, .volDashboard__skills, .volDashboard__causes, .volDashboard__projects {
  background: var(--secondary-gray);
  color: var(--tertiary-white);
  opacity: .85;
  padding: 1rem;
  border-radius: .35rem;

}

.contact-info__container {
  grid-column: 1 / span 2;
}

.skills__container {
  display: inline-flex;
  grid-column: 3 / span 2;
  grid-row: 1 / span 3;
  text-align: left;
  
}

#skills {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

#causes {
  display: inline;
  flex-direction: column;
  flex-wrap: wrap;
}

.skill__skillName, .cause__causeName {
  margin: .5rem;
}

.causes__container {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  text-align: left;
  display: flex;
}

.js-add-volunteer {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
  background-color: var(--secondary-gray);
  color: var(--tertiary-white);
  font-size: 30px;
  padding: 7px 24px;
  border-radius: 8px;
  box-shadow: 5px 5px 50px 15px var(--secondary-gray, .4);
    
}


h1 {
  font-size: 60px;
  color: var(--primary-color);
}

h2 {
  font-size: 40px;
  color: var(--secondary-gray);
}

h3 {
  font-size: 25px;
  color: var(--secondary-gray);
}

h4 {
  font-size: 20px;
  color: var(--secondary-gray);
}

h5 {
  font-size: 15px;
  color: var(--primary-color);
}

h6 {
  font-size: 30px;
  color: var(--tertiary-white);
  opacity: 1;
}

/* start volDashboard grid */
.dashboard__container {
  display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: repeat(4, auto); 
	grid-template-rows: repeat(4, auto); 
	margin: 1rem;
	padding: 1rem;
	max-width: 100%;	
  height: flex;	
}
.volDashboard__contact, .volDashboard__skills, .volDashboard__causes,.volDashboard__projects {
  color: var(--tertiary-white);
} 

.volDashboard__contact {
  display: block;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: left;
}

.volDashboard__skills {
  display: inline;
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
  text-align: left;
}

.volDashboard__causes {
  display: inline;
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
  text-align: left;
}

.volDashboard__projects {
  display: flex;
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  text-align: left;
}

/* start org and vol landing grid */
.orglanding__grid-container, .vollanding__grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 2, 1fr;
}

.orglanding__signin, .vollanding__signin {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2; 
}

.orglanding__signup, .vollanding__signup {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2; 
}

.hero-image {
  background-image: url('../dist/images/hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20vh;

}

.hero-header {
  background-color: white;
  width: 100%;
  height: 20vh;
}

.container {
  max-width: 70%;
  margin: auto;
}

.hero-intro {
  margin-top: 132vh;
  

}

.main-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 60px;
  color: #65cce5;
}

footer {
  position: absolute;
  bottom: 100%;
}

.hero-description {
  margin-top: 20vh;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}


.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 60px;
  color: #65cce5;

}

.logout {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
  color: black;
  margin-bottom: -10px;
}

